a, a:hover {
  color: #383d42;
}

navbar{
  align-items: center;
  display: flex;
  font-size: l4px;
}

header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#about-div > a, #navbar > * {
  margin: 0px 6px;
}

#google-apps-icon{
  height: 26px;
}

#sign-in{
  background-color: #0085f7;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
}
