a, a:hover {
  color: #383d42;
}

body{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer{
  align-items: center;
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  width: 100%;
}

main {
  align-items: center;
  bottom: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

navbar{
  align-items: center;
  display: flex;
  font-size: l4px;
}

header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.footer-div{
  display: flex;
  justify-content: space-between;
}

.footer-link{
  color:#797878;
  margin: 0px 10px;
}

#about-div > a, #navbar > * {
  margin: 0px 6px;
}

#form-id{
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  padding: 13px;
  width: 700px;
}

#google-apps-icon{
  height: 26px;
}

#search-bar{
  border: none;
  width: 90%;
}

#search-bar:focus{
  border: none;
  outline-color: transparent;
}

#search-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#search-buttons > button {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  color: #636161;
  font-size: 15px;
  margin: 0px 10px;
  padding: 10px 15px;
}


#search-buttons > button:hover{
  border-width: 1px;
}

#search-icon{
  color: #828282;
}

#sign-in{
  background-color: #0085f7;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
}
